source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget BlackFox.MasterOfFoo
nuget CefSharp.WinForms 86.0.241
nuget CefSharp.Wpf 86.0.241
nuget FSharp.Core >= 4.2.3
nuget System.Text.Encodings.Web

group Build

    source https://api.nuget.org/v3/index.json

    nuget FSharp.DependencyManager.Paket