name: CI

on: [push]

jobs:
  build-windows:
    name: CI (Windows)
    runs-on: windows-latest
    timeout-minutes: 25

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore
      run: |
        dotnet tool restore
        dotnet paket restore
    - name: Build
      run: .\build.cmd -t Build
    - name: Pack
      run: |
        .\build.cmd -t PackAll
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: interstellar-windows
        path: artifacts
    - name: Test
      run: |
        .\build.cmd -t Test -- Release

  build-macos:
    name: CI (macOS)
    runs-on: macos-latest
    timeout-minutes: 25

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Restore
      run: |
        sudo dotnet workload install macos
        dotnet tool restore
        dotnet paket restore
        dotnet restore Interstellar.MacOS.sln
    - name: Build
      run: ./build.sh -t Build
    - name: Pack
      run: ./build.sh -t PackAll
    - name: Upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: interstellar-macos
        path: artifacts/
    - name: Test
      run: |
        ./build.sh -t Test

  build-ubuntu:
    name: CI (Ubuntu)
    runs-on: ubuntu-latest
    timeout-minutes: 25

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x
      - name: Restore
        run: |
          sudo dotnet workload install macos
          dotnet tool restore
          dotnet paket restore
          dotnet restore Interstellar.MacOS.sln
      - name: Build
        run: ./build.sh -t Build
      - name: Pack
        run: ./build.sh -t PackAll
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: interstellar-linux
          path: artifacts/
      - name: Test
        run: |
          ./build.sh -t Test
